@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.special-underline, .pinkUnderline {
    @apply relative;
}
.special-underline::before {
    @apply bg-pink absolute w-full;
    height: 5px;
    bottom: 3px;
    content: " ";
}
.pinkUnderline::before {
    @apply bg-pink absolute w-full;
    height: 3px;
    bottom: -2px;
    content: " ";
}


strong {
    @apply font-semibold;
}
.answer p {
    @apply mb-4;
}